<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FTI</title>

    <link rel='stylesheet' href='css/kingster-style-custom.css' type='text/css' media='all' />

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel='stylesheet' href='resources/css/mainPage.css' type='text/css' />
    <script src="resources/js/stylingScript.js"></script>
</head>
<body>
    <header>
            <div class="header-container">
                
                <div class="top-header">
                    <div class="logo">
                        <a href=""><img src="" alt="" /></a>
                    </div>
                    <ul>
                        <li class="top-header-element"><a href="#">Lajme</a></li>
                        <li class="top-header-element"><a href="#">Evente</a></li>
                        <li class="top-header-element"><a href="#">Njoftime</a></li>
                    </ul>
                </div>
                <div class="bottom-header">
                    <div class="bottom-links">
                        <ul>
                            <li class="bottom-header-element"><a href="index.html">Fakulteti</a>
                                <ul>
                                    <li class="bottom-header-element-child"><a href="">Stafi</a></li>
                                    <li class="bottom-header-element-child"><a href="">Administrata</a>
                                    <li class="bottom-header-element-child"><a href="">Departamentet</a></li>
                                </ul>
                            </li>
                            <li class="bottom-header-element"><a href="">Kurset e Studimit</a>
                                <ul>
                                    <li class="bottom-header-element-child"><a href="">Cikli i Pare Bachelor</a></li>
                                    <li class="bottom-header-element-child"><a href="">Cikli i Dyte Master i Shkencave</a>
                                    <li class="bottom-header-element-child"><a href="">Cikli i Trete Doktor i Shkencave</a></li>
                                </ul>
                            </li>
                            <li class="bottom-header-element"><a href="">Studentet</a>
                                <ul>
                                    <li class="bottom-header-element-child"><a href="">Bursat e Studimit</a></li>
                                    <li class="bottom-header-element-child"><a href="">Te Tjera</a>
                                </ul>
                            </li>
                            <li class="bottom-header-element"><a href="">Kerkimi Shkencor</a>
                                <ul>
                                    <li class="bottom-header-element-child"><a href="">Fushat e Kerkimit</a></li>
                                    <li class="bottom-header-element-child"><a href="">Projekte</a>
                                    <li class="bottom-header-element-child"><a href="">Laboratoret</a>
                                    <li class="bottom-header-element-child"><a href="">Grupet e Kerkimit</a>
                                </ul>
                            </li>
                            <li class="bottom-header-element"><a href="">Sherbimi i Karrieres</a>
                                <ul>
                                    <li class="bottom-header-element-child"><a href="">Praktika</a></li>
                                    <li class="bottom-header-element-child"><a href="">Tregu i Punes</a>
                                    <li class="bottom-header-element-child"><a href="">Te Tjera</a>
                                </ul>
                            </li>
                            <li class="bottom-header-element"><a href="">Rregullore</a>
                            </li>
                        </ul>


                        <div class="search">
                            <div class="search-icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <div class="search-input" style="display: none;">
                                <form role="search" method="" action="#">
                                    <input type="text" placeholder="Search..." value="" name="s">
                                    <input type="submit" value="Search">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </header>
            <div>
                <div>      
                    <div>
                        <div>
                            <div class="background-gradient"></div>
                            <div class="school-text"><img src="resources/images/textv2.png" alt="" style="width:100vw;" /></div>
                            <div class="slideshow-item"><img src="resources/images/f2v3.jpg" alt="" style="width:100vw;" /></div>
                            <div class="slideshow-item"><img src="resources/images/f1.jpg" alt="" style="width:100vw;" /></div>
                            <div class="slideshow-item"><img src="resources/images/f3.jpg" alt="" style="width:100vw;" /></div>
                            <div class="about-us"><a href="">Rreth FTI</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div>      
                <div>
                    
                    <div>
                        <div>
                            <h3>University Life</h3>
                            <div>Overall in here</div>
                        </div>
                    </div>
                </div>

                <div>
                    <div><img src="upload/icon-2.png" alt="" width="44" height="40" /></div>
                    <div>
                        <div>
                            <h3>Graduation</h3>
                            <div>Getting Diploma</div>
                        </div>
                    </div>
                </div>

                <div>
                    <div><img src="upload/icon-3.png" alt="" width="44" height="39" /></div>
                    <div>
                        <div>
                            <h3>Athletics</h3>
                            <div>Sport Clubs</div>
                        </div>
                    </div>
                </div>
            </div> 
            <div>
                <div>
                    <div>
                        <div>
                            <div>
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <div>
                                                    <h3>News & Updates</h3>
                                                </div>
                                                <a>Read All News</a>
                                            </div>
                                            <div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <div>
                                                                <a href="">
                                                                    <img src="upload/shutterstock_135948689-400x245.jpg" width="700" height="430" alt="" />
                                                                </a>
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    <span>
                                                                        <a href="#">June 6, 2016</a>
                                                                    </span>
                                                                    <span>
                                                                        <a href="#">Admission</a>
                                                                        <a href="#">Student</a>
                                                                    </span>
                                                                </div>
                                                                <h3>
                                                                    <a href="#" >Professor Albert joint research on mobile money in Tanzania</a>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <div>
                                                        <div>
                                                            <a href="#">
                                                                <img src="upload/shutterstock_218235004-150x150.jpg" alt="" width="150" height="150" />
                                                            </a>
                                                        </div>
                                                        <div>
                                                            <div>
                                                                <span>
                                                                    <a href="#">June 6, 2016</a>
                                                                </span>
                                                                <span>
                                                                    <a href="#" rel="tag">Hot</a>
                                                                </span>
                                                            </div>
                                                            <h3>
                                                                <a href="#" >A Global MBA for the next generation of business leaders</a>
                                                            </h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <footer>            
            <div>
                <div>
                    <div>
                        <div>
                            <h3>Our Campus</h3>
                            <div>
                                <ul>
                                    <li><a href="#">Acedemic</a></li>
                                    <li><a href="#">Planning &#038; Administration</a></li>
                                    <li><a href="#">Campus Safety</a></li>
                                    <li><a href="#">Office of the Chancellor</a></li>
                                    <li><a href="#">Facility Services</a></li>
                                    <li><a href="#">Human Resources</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h3>Campus Life</h3>
                            <div>
                                <ul>
                                    <li><a href="#">Accessibility</a></li>
                                    <li><a href="#">Financial Aid</a></li>
                                    <li><a href="#">Food Services</a></li>
                                    <li><a href="#">Housing</a></li>
                                    <li><a href="#">Information Technologies</a></li>
                                    <li><a href="#">Student Life</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h3>Academics</h3>
                            <div>
                                <ul>
                                    <li><a href="#">Canvas</a></li>
                                    <li><a href="#">Catalyst</a></li>
                                    <li><a href="#">Library</a></li>
                                    <li><a href="#">Time Schedule</a></li>
                                    <li><a href="#">Apply For Admissions</a></li>
                                    <li><a href="#">Pay My Tuition</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </footer>
</body>
</html>