body{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
#header{
    background-color:#00356B;
    padding:20px;
}
#admin-panel-text{
    color:white;
    padding:0;
    margin:0;
    vertical-align: middle;
    display:inline-block;
    padding-left:10vw;
    font-size:30px;
}
#user-admin-text{
    color:white;
    padding:0;
    margin:0;
    padding-right:10vw;
    float:right;
    font-size:30px;
}
#links-container{
    list-style:none;
    background-color:#5b86b1;
    display:inline-block;
    margin:0;
    padding-left:5vw;
    padding-right:5vw;
    padding-top:4vh;
    height:150vh;
}
.link{

    padding-top:70px;
}
.link > a{
    text-decoration:none;

    color:white;
}
#editor{
    width:50vw;
    position:absolute;
    top:50vh;
    left:35vw;
    height:100vh;
}
#auth-button{
    position:absolute;
    top:20vh;
    left:40vw;
}
#view-selector{
    position:absolute;
    top:30vh;
    left:40vw;
}
#timeline{
    position:absolute;
    top:50vh;
    left:40vw;
}