body{
    background-color:#f9f3e9 ;
}

.post-container{
    width:50vw;
    margin:auto;
    border-left:2px solid #0A2540;
    border-right:2px solid #0A2540;
    padding-right:100px;
    padding-left:100px;
}
.title{
    display:block;
    width:fit-content;
    margin:auto;
    margin-top:50px;
    text-transform:uppercase;
    font-size:30px;
    font-weight:500;
    border-bottom:1px solid black;
}
.top-header{
    background-color:rgb(236 213 174);
}
.bottom-header-element > ul{
    box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.4);
}
.title-scroller:after{
    position: absolute;
    bottom: 0;  
    height: 100%;
    width: 100%;
    content: "";
    background: linear-gradient(to right,
     rgb(215 233 255 / 0%) 80%, 
     rgb(236 213 174) 100%
    ),
    linear-gradient(to left,
     rgb(215 233 255 / 0%) 80%, 
     rgb(236 213 174) 100%
    );
    pointer-events: none;
}

.author{
    font-size:14px;
    color:#928f8f;
}
.post-body{
    margin-top:40px;
}
#footer{
    position: relative;
    top:10vh;
}